.fact-form {
  background-color: #44403c;
  padding: 1.5rem 2rem;
  border-radius: 16px;
  margin-bottom: 2.5rem;
}

.fact-field {
  padding: 0.9rem 0.8rem;
  border: 0;
  outline: 0;
  background-color: #78716c;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
}

.fact-field:focus {
  background-color: #78716c;
  color: #fafaf9;
}

.fact-field::placeholder {
  color: #d6d3d1;
}

.letter-count {
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  margin-bottom: 0;
}

.hide {
  display: none;
}

.btn-post {
  color: #fafaf9;
  font-weight: 900;
  font-family: 'Coiny', sans-serif;
  letter-spacing: 1px;
  padding: 1rem 1rem 0.8rem;
  background: rgb(59, 130, 246);
  background: linear-gradient(
    132deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(139, 92, 246, 1) 11%,
    rgba(239, 68, 68, 1) 32%,
    rgba(219, 39, 119, 1) 32%,
    rgba(22, 163, 74, 1) 59%,
    rgba(20, 184, 166, 1) 72%,
    rgba(249, 115, 22, 1) 93%,
    rgba(234, 179, 8, 1) 100%
  );
}

.btn-post:hover {
  color: #fafaf9;
}

.btn-post:active {
  color: #fafaf9;
}
