.navbar-brand {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #fafaf9;
  font-family: 'Coiny', sans-serif;
}

.navbar-brand:hover {
  color: #fafaf9;
}

.fact-btn {
  color: #fafaf9;
  font-weight: 900;
  font-family: 'Coiny', sans-serif;
  letter-spacing: 1px;
  width: 200px;
  padding: 1rem 1rem 0.8rem;
  transition: all 0.35s ease-in-out;
  background: rgb(59, 130, 246);
  background: linear-gradient(
    132deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(139, 92, 246, 1) 11%,
    rgba(239, 68, 68, 1) 32%,
    rgba(219, 39, 119, 1) 32%,
    rgba(22, 163, 74, 1) 59%,
    rgba(20, 184, 166, 1) 72%,
    rgba(249, 115, 22, 1) 93%,
    rgba(234, 179, 8, 1) 100%
  );
}

.fact-btn:hover {
  color: #fafaf9;
  transform: skewY(-3deg);
}

.fact-btn:active {
  color: #fafaf9;
}

@media (max-width: 575px) {
  .fact-btn {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 24px;
  }
  .fact-btn {
    padding: 0.6rem 1rem 0.4rem;
  }
}

@media (max-width: 575px) {
  .navbar-brand {
    font-size: 20px;
  }
  .fact-btn {
    width: 170px;
  }
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 16px;
  }
  .fact-btn {
    width: 165px;
    font-weight: 700;
    padding: 1rem 0.5rem 0.8rem;
  }
}
